!!!
%html{:lang => "en-au"}
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    
    /[if IE]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

    %title= (@title != "Convention" ? "#{@title} at Convention" : "Convention")
    
    - if options.environment == :production
      %link{:href => versioned_stylesheet("production/minified"), :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    - else
      %link{:href => versioned_stylesheet("reset"), :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
      %link{:href => versioned_stylesheet("main"), :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
      
    %link{:href => versioned_stylesheet("mobile"), :media => "only screen and (max-device-width: 480px)", :rel => "stylesheet", :type => "text/css"}

    -# %link{:rel => "icon", :href => versioned_favicon, :type => "image/x-icon"}

  %body{:id => "convention-heroku-com", :class => (@layout ? @layout : (@category == "*" ? "tags" : @category))}
    #wrapper
      %header.layout
        %h1
          = home_link("Mobile!")
      = nav_builder
      #page
        - if mobile_request?
          %h1 Mobile!
        = yield
    %footer.layout
      %p A <a href="http://lachstock.com.au/">Lachstock</a> production.

    - if options.environment == :production
      %script{:src => versioned_javascript("production/minified"), :type => "text/javascript"}=""
    - else
      / jQuery - for the hottness
      %script{:src => versioned_javascript("jquery"), :type => "text/javascript"}=""

      / Run site scripts
      %script{:src => versioned_javascript("go"), :type => "text/javascript"}=""
